.menuText {
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.menuText:hover {
    color: #c6a96f;
}
.clickedMenu {
    background: #EEF2FF;
    color: #6938CA;
    box-shadow: inset 0 0 0 0.15rem #c7d2fe;
}