@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.notosanskr * {
    font-family: Noto Sans KR, sans-serif;
}
.clickedMenu {
    background: #163875 !important;
    color: white !important;
    font-weight: 900;
    border: none !important;
    /* box-shadow: inset 0 0 0 0.15rem #c7d2fe; */
}
.clickedMenu2 {
    background: #CDE7F8;
    color: #163875;
    font-weight: 900;
    /* box-shadow: inset 0 0 0 0.15rem #c7d2fe; */
}
.clickedMenu3 {
    background: #163875 !important;
    color: white !important;
    font-weight: 600;
    border: none !important;
    /* box-shadow: inset 0 0 0 0.15rem #c7d2fe; */
}
.clickedMenu4 {
    background: rgb(243, 243, 243);
    color: black;
    font-weight: 500;
    /* box-shadow: inset 0 0 0 0.15rem #c7d2fe; */
}
.sectionClicked { 
    background-color: rgb(226, 226, 226);
    font-weight: bold;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
    box-shadow: none !important;
}
.p-menuitem-text {
    color: black !important;
    font-weight: 700;
    font-family: Noto Sans KR, sans-serif;
    font-size: 1.5vw !important;
}
.p-menuitem:hover > .p-menuitem-link {
    background: #002246 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: white !important;
}
.p-menuitem:hover > .p-menuitem-link > .p-menuitem-text {
    color: white !important;
}
/* 메뉴바 크기 및 디자인 */
.p-menubar > ul {
    height: 100% !important;
}
.p-menubar {
    border: none !important
}
.introFont {
    font-family: Noto Sans KR, sans-serif;
    font-size: .85rem;
    line-height: 1.75;
    font-weight: 100;
}
.titleFont {
    font-family: Noto Sans KR, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75;
}
.p-menuitem-link {
    background-color: white !important;
    margin: -1px !important;
    height: 5vh;
}
.videoContainer {
    width: 100vw;
    height: 56.5vw;
}
.videoContainer2 {
    width: 100vw;
    height: 56.5vw;
}
.videoContainer3 {
    width: 100vw;
    height: 28vw;
}
.p-submenu-list {
    padding: 0 !important;
    z-index: 10 !important;
}
/* .p-menuitem { */
.p-submenu-list > .p-menuitem {
    opacity: .5;
    /* justify-content: center !important;
    display: flex; */
}
.made {
    opacity: 1 !important;
}
.p-button-label {
    font-size: 1rem !important;
}
.p-component .p-highlight {
    background-color: #163875 !important;
}
.p-button {
    border-radius: 0 !important;
}
.p-button:focus {
    box-shadow: none !important;
}
@media screen and (min-width: 961px) {
    .p-menuitem {
        height: 100%;
        max-height: 6rem;
    }
    .p-menuitem-link {
        height: 100%;
        margin: 0 !important;

    }
    .introFont {
        font-size: 1.25vw;
    }
    
    .videoContainer {
        width: 59.99vw;
        height: 33.7vw;
        min-height: 33.7vw;
    }
    .videoContainer2 {
        width: 60%;
        height: 35vw;
    }
    .videoContainer3 {
        width: 59.99vw;
        height: 17vw;
    }
    .formContainer {
        width: 60%;
    }
    
    .registerButton {
        font-size: 1.15vw !important;
        width: 30vw !important;
        min-width: 10rem !important;
        font-family: Noto Sans KR !important;
        background-color: #003685 !important;
        color: white !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        height: 9vh;
    }
    .MobImage {
        display: none !important;
    }
    
    .mobBanner {
        height: 8vh !important;
        max-height: 8vh;
        display: flex;
        justify-content: center;
        background-color: #F8F8F8;
        width: 100% !important;
        max-width: 100% !important;
        position: fixed;
        bottom: 0;
        z-index: 1000;
    }
    .mobBanner2 {
        height: 8vh !important;
        max-height: 8vh;
        display: flex;
        position: fixed;
        bottom: 0;
        justify-content: center;
        background-color: #F8F8F8;
        width: 100%;
        max-width: 100% !important;
        z-index: 1000;
    }
    .p-submenu-list > .p-menuitem > .p-menuitem-link > .p-menuitem-text {
        font-size: 1.1vw !important;
        font-weight: 700 !important;

    }
    .sSize {
        font-size: 1.2vw !important;
    }
    .ssSize {
        font-size: .75vw;
    }
    /* 큰 본문 제목 */
    .titleFont {
        font-size: 2vw;
    }
    /* 본문 크기용 */
    .mTextSize {
        font-size: 1vw !important;
    }
    /* 메뉴크기용 */
    .mMenuTextSize {
        font-size: 1.3vw !important;
    }
}

@media (max-width: g961px) {
    /* 본문보다 살짝 큰 타이틀 */
    .sSize {
        font-size: 2.9vw !important;
    }
    .ssSize {
        font-size: 1.7vw;
    }
    .titleFont {
        font-family: Noto Sans KR, sans-serif;
        font-size: 1.25rem;
        line-height: 1.75;
    }
    .mMenuTextSize {
        font-size: 3.8vw !important;
    }
    .mWidth100 {
        width: 100% !important;
    }
    .mWidth86 {
        width: 86% !important;
    }
    .formContainer {
        width: 100%;
    }
    .mobBanner {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        height: 8vh;
        display: flex;
        justify-content: center;
        background-color: #F8F8F8;
        width: 100vw;
    }
    .mobBanner2 {
        background-color: #F8F8F8;
        width: 100%;
        height: 8vh;
        position: fixed;
        bottom: 0;
        z-index: 1000;
    }
    .videoContainer {
        height: 56vw;
        /* max-height: 37vh; */
        min-height: 17vh;
    }
    .videoContainer2 {
        width: 100%;
        max-height: 57vh;
    }
    .videoContainer3 {
        height: 28vw;
        /* max-height: 18vh; */
    }
    .mDateContainer {
        flex-direction: column;
        padding: 0 !important;
    }
    .dBorder {
        border: 0 !important;
    }
    .bBorder {
        border-bottom: 1px solid rgb(107, 112, 145);
    }
    .mTextSize {
        font-size: 3.3vw !important;
    }
    .mTextSize2 {
        font-size: 4vw !important;

    } 
    .fStart {
        display: flex;
        justify-content: start !important;
    }
    .lPadding {
        padding-left: 5vw;
    }
    .mobColumn {
        flex-direction: column;
        width: 100% !important;
    }
    .registerButton {
        font-size: 3.5vw !important;
        width: 100vw !important;
        min-width: 10rem !important;
        font-family: Noto Sans KR !important;
        background-color: #003685 !important;
        color: white !important;
        border-radius: 0 !important;
        height: 9vh !important;
        /* border-bottom: .1vw solid rgb(107, 112, 145) !important; */
    }
    .registerButton2 {
        font-size: 3.5vw !important;
        width: 100vw !important;
        min-width: 10rem !important;
        font-family: Noto Sans KR !important;
        background-color: #E2EBEE !important;
        color: #003685 !important;
        border-radius: 0 !important;
        height: 9vh !important;
        /* border-bottom: .1vw solid rgb(107, 112, 145) !important; */
    }
    .WebImage {
        display: none !important;
    }
    .mobBackground {
        background-color: #ecf6fc;
        position: relative;
        z-index: 0;
    }
    .p-menuitem-text {
        font-size: 1rem !important;
    }
    .mMargin0 { 
        margin: 0 !important;
    }
    .mFlexWrap {
        flex-wrap: wrap;
    }
    .mJuStart { 
        justify-content: start !important;
    }
    .mWidth25 {
        width: 25% !important;
    }
    .mContainerText {
        flex-direction: column-reverse !important;
        width: 100% !important;
        border: none !important;
        padding: 7vw !important;
        margin: 0 !important;
    }
    .mImageText {
        flex-direction: row !important;
        width: 100% !important;
        padding-top: 7vw;
    }
    .mImage35 {
        width: 35% !important;
        max-width: 35% !important;
        max-height: 45vw !important;
    }
    .mPadding0 {
        padding: 0 !important;
    }
    .mLineHeight {
        line-height: 200% !important;
        padding-left: 3.5vw !important;
    }
    .mPT7 {
        padding-top: 7vw !important;
    }
    .mdLRBorder {
        border-left: none !important;
        border-right: none !important;
    }
    .p-button-label {
        font-size: .75rem !important;
    }
    .mHeight5 {
        height: 5vh !important;
    }
    .mHeight14 {
        height: 14vh !important;
    }
    .mBorderRB {
        border-left: 0 !important;
        border-top: 0 !important;
        border-bottom: 1px solid #E2E2E2 !important;
        border-right: 1px solid #E2E2E2 !important;
    }
}
