@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-style: normal;
}

.clickedMenu {
    background: #EEF2FF;
    color: #6938CA;
    box-shadow: inset 0 0 0 0.15rem #c7d2fe;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
    box-shadow: none !important;
}
.p-menuitem-text {
    color: black !important;
    font-weight: 900;
    font-family: GmarketSansMedium, sans-serif;
    font-size: 1.25rem !important;
}
.p-menuitem:hover > .p-menuitem-link {
    background: #002246 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: white !important;
}
.p-menuitem:hover > .p-menuitem-link > .p-menuitem-text {
    color: white !important;
}
/* 메뉴바 크기 및 디자인 */
.p-menubar > ul {
    height: 100% !important;
}
.introFont {
    font-family: GmarketSansMedium, sans-serif;
    font-size: .85rem;
    line-height: 1.75;
    font-weight: 100;
}
.titleFont {
    font-family: GmarketSansMedium, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75;
}
.p-menuitem-link {
    background-color: white !important;
    margin: -1px !important;
}
@media screen and (min-width: 961px) {
    .p-menuitem {
        height: 100%;
        max-height: 6rem;
    }.p-menuitem-link {
        height: 100%;
        margin: 0 !important;

    }
    .introFont {
        font-size: 1.25vw;
    }
    .titleFont {
        font-size: 2.5vw;
    }
}
